<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <a href="/">Home</a>
                <a href="/login">Login</a>
                <a href="/register">Cadastro</a>
                <a href="/products-page">Produtos</a>
                <a href="/sales">Vendas</a>
                <a href="/accounting">Contabilidade</a>
            </div>
        </div>
    </div>
    <div class="container">
        <h1>Cadastro de Usuário</h1>
        <div class="content">
            <div class="form-section">
                <form id="register-form">
                    <h3>Crie sua Conta</h3>
                    <label for="reg-username">Username:</label>
                    <input type="text" id="reg-username" name="username" required>
                    <label for="reg-email">Email:</label>
                    <input type="email" id="reg-email" name="email" required>
                    <label for="reg-password">Senha:</label>
                    <input type="password" id="reg-password" name="password" required>
                    <input type="submit" value="Cadastrar Usuário">
                </form>
            </div>
            <div class="response-section">
                <div id="alert-message"></div>
            </div>
        </div>
    </div>

    <script>
        const baseURL = window.location.origin;
        const alertMessage = document.getElementById('alert-message');

        function handleResponse(response) {
            if (!response.ok) {
                throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.json();
        }

        function handleError(error) {
            console.error('Fetch error:', error);
            alertMessage.innerHTML = `<div class="alert alert-error">${error.message}</div>`;
        }

        document.getElementById('register-form').addEventListener('submit', async (e) => {
            e.preventDefault();
            const data = Object.fromEntries(new FormData(e.target));

            alertMessage.innerHTML = '';

            try {
                const response = await fetch(`${baseURL}/users/`, {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify(data),
                });
                const result = await handleResponse(response);
                alertMessage.innerHTML = `<div class="alert alert-success">Usuário ${result.username} criado com sucesso!</div>`;
            } catch (error) {
                handleError(error);
            }
        });
    </script>
</body>
</html>